#top_products_container {
  h3 {
    margin-left: 20px;
  }
  .TopProducts {
    &-product-list {
      display: table;
      &-item {
        padding: 15px;
        margin: 10px;
        height: 120px;
        max-width: 260px;
        border: 2px dashed grey;
        list-style: none;
        display: block;
        float: left;
      }
    }
    &-product-select {
      background-color: white;
      overflow-y: scroll;
      max-height: 250px;
      z-index: 100000;
      position: relative;
      box-shadow: -1px 13px 19px rgba(0,0,0,.5);
      > div {
        padding: 5px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}